html {
  margin: 0;
min-height: 100%;
width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, black, rgb(255, 167, 167));
  color: #F2F2F2;
  text-align: center;
  padding: 50px;
  margin: 0;
  min-height: 100%;
}


h1 {
  font-size: 48px;
  color: rgb(255, 167, 167);
  text-shadow: 1px 1px #000000;
  margin-top: 50px;
}

p {
  font-size: 20px;
  color: #BFBFBF;
  margin-top: 20px;
}

.cyber-container {
  background-color: #353535;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px #000000;
}
